body
{
	background-color: #1e1e1e;
	color: #d7ba7d;
}

h3
{
	text-align: center;
}

h3, h4
{
	margin-top: 3px;
	margin-bottom: 3px;
}

#ConfigPhrase
{
	text-decoration: underline;
	text-decoration-style: dotted;
	font-weight: normal;
	color: #7d96d7;
	cursor: pointer;
}

#Everything
{
	z-index: 1;
}

[v-cloak]
{
	display: none;
}

#WaitBox
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #aaaaaadd;
	color: #1e1e1e;
	text-align: center;
	font-size: 28pt;
}

#WaitMessageBox
{
	position: relative;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translate(0%, -50%);
}

#ColumnsContainer
{
	position: relative;
}

#MapColumn
{
	position: absolute;
	left: 0;
	top: 0;
	width: 992px;
}

#InformationPanel
{
	position: absolute;
	left: 992px;
	top: 0;
	box-sizing: border-box;
	width: 350px;
	height: 722px;
	border: 1px solid #74818b;
	padding: 8px;
	background-color: #d4d8db;
	overflow-y: auto;
}

.InformationCard
{
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	box-shadow: 0 1px 1px rgba(27,31,35,.1);
	background-color: white;
	color: #555555;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 6px;
	padding-left: 3px;
	padding-right: 3px;
	width: 315px;
	position: absolute;
	left: 8px;
}

.TitleCard
{
	background-color: #7777be;
}

.CountyInfoCardTable
{
	width: 100%;
	font-family: sans-serif;
	font-size: 12px;
	text-align: right;
	border-collapse: collapse;
}

.CountyInfoCardTable thead
{
	font-size: 11px;
}

#MapContainer
{
	width: 990px;
	height: 628px;
	border: 1px solid #1e1e1e;
	overflow: hidden;
}

#TimelineContainer
{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	border: 1px solid #1e1e1e;
	background-color: #333;
}

#Timeline
{
	width: 100%;
	margin: 0 0 0 541px;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
	font-size: 0;
	color: #1e1e1e;
}

li.TimeLineDateBox
{
	display: inline-block;
	box-sizing: border-box;
	width: 90px;
	height: 90px;
	border: 1px solid black;
	text-align: center;
	padding-top: 24px;
	font-size: 16px;
	line-height: 20px;
	background-color: #7777be;
}

#TimelineFrame
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.TimelineCover
{
	position: absolute;
	height: 100%;
	background-color: #ffffffaa;
	width: 450px;
	top: 0;
}

#TimelineCoverLeft
{
	left: 0;
	border-right: 2px solid black;
}
#TimelineCoverRight
{
	left: 540px;
	border-left: 2px solid black;
}

#AnimationSlider
{
	box-sizing: border-box;
	width: 100%;
	height: 25px;
}

#ControlButtonsContainer
{
	text-align: center;
}

#SvgObject
{
	width: 990px;
	height: 628px;
	margin-left: 0px;
	margin-top: 0px;
}
