<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
    <title>COVID-19 by County</title>
	<link rel="stylesheet" type="text/css" href="styles/index.css" />
</head>
<body>
	<div v-cloak id="Everything">
		<h1>COVID-19 by U.S. County: <span id="ConfigPhrase">Cumulative Cases Per 100,000 People</span></h1>

		<div id="ColumnsContainer">
			<div id="MapColumn">
				<div id="MapContainer">
					<object id="SvgObject" type="image/svg+xml" data="/images/Usa_counties_large.svg">
						Browser not supported.
					</object>
				</div>
				<div id="TimelineContainer">
					<ul id="Timeline">
						<li v-for="item in dateList" class="TimeLineDateBox">
							{{ item.month }}
							<br>
							{{ item.dayOfMonth }}
						</li>
					</ul>
					<div id="TimelineFrame">
						<div id="TimelineCoverLeft" class="TimelineCover"></div>
						<div id="TimelineDateFrame"></div>
						<div id="TimelineCoverRight" class="TimelineCover"></div>
					</div>
				</div>
				<input id="AnimationSlider" type="range" min="0" v-bind:max="dateList.length" value="0">
				<div id="ControlButtonsContainer">
					<button id="BtnSeekStart" type="button">|&lt;</button>
					<button id="BtnStepBack" type="button">&lt;</button>
					<button id="BtnPlay" type="button">&#9658;</button>
					<button id="BtnStepForward" type="button">></button>
					<button id="BtnPause" type="button">||</button>
					<button id="BtnSeekEnd" type="button">>|</button>
				</div>
			</div>
			<div id="InformationPanel">
				<div class="InformationCard TitleCard">
					<h3>{{ displayDate }}</h3>
				</div>
				<div v-for="item in infoCards" class="InformationCard">
					<h4>{{ item.placeName }}</h4>
					<table class="CountyInfoCardTable">
						<thead>
							<tr>
								<th></th>
								<th>{{ item.col1Title }}</th>
								<th>{{ item.col2Title }}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ item.row1Title }}</td>
								<td>{{ item.row1Data1 }}</td>
								<td>{{ item.row1Data2 }}</td>
							</tr>
							<tr>
								<td>{{ item.row2Title }}</td>
								<td>{{ item.row2Data1 }}</td>
								<td>{{ item.row2Data2 }}</td>
							</tr>
							<tr>
								<td>{{ item.row3Title }}</td>
								<td>{{ item.row3Data1 }}</td>
								<td>{{ item.row3Data2 }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div id="InstructionPanel">
				Click on individual counties to show them in the side panel.<br>
				Change facts and views and animate.
			</div>
		</div>

		<div id="WaitBox" v-bind:style="{ display: waitMessageDisplay }">
			<div id="WaitMessageBox">{{ waitMessage }}</div>
		</div>
	</div>
	
	<script type="text/javascript" src="/scripts/papaparse.js"></script>
	<script type="module" src="/modules/appUI.js"></script>
</body>
</html>
